# Model files
*.bin
*.bin:*

# Build files
*.exe
*.out
run
runq

# Assembly files
*.s

# VS Code files
/.vscode
*.editorconfig

# File copies
*.copy

# Environment files
/env

# Other files
*.csv